<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap="50px"
>
  <mat-card
    *ngFor="let book of cartBooks | async"
    fxFlex="0 1 calc(40.3% - 10px)"
  >
    <div class="header-image">
      <div class="title-header">
        <mat-card-header>
          <mat-card-title>{{ book.volumeInfo.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.volumeInfo.subtitle }}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <img
        mat-card-image
        [src]="book.volumeInfo.imageLinks?.thumbnail"
        alt="Photo of {{ book.volumeInfo.title }}"
      />
    </div>
    <mat-card-content>
      <div>
        <p class="text">
          {{ book.volumeInfo.description }}
        </p>
      </div>

      <div style="font-weight: bold">Written by :</div>
      <div *ngFor="let author of book.volumeInfo.authors">
        <p>
          {{ author }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        (click)="onProceedToPurshase(book)"
      >
        Proceed to purshase
      </button>
      <button
        mat-raised-button
        color="accent"
        style="float: right"
        (click)="onDeleteCartItem(book)"
      >
        <mat-icon class="app-icon">remove_shopping_cart</mat-icon>
      </button>
      <!-- <span class="material-icons">
            remove_shopping_cart
        </span> -->
    </mat-card-actions>
  </mat-card>
</div>
