<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="flex-start" 
  fxLayoutGap="50px">
    <mat-card  *ngFor="let book of submittedBookDetails" fxFlex="0 1 calc(40.3% - 10px)">
      <div class="header-image">
        <div class="title-header">
          <mat-card-header>
            <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
            <mat-card-subtitle>{{book.volumeInfo.subtitle}}</mat-card-subtitle>
          </mat-card-header>
        </div>
        <img mat-card-image [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Photo of {{book.volumeInfo.title}}">
      </div>
      
      <mat-card-content>
        <p class="text">
          {{book.volumeInfo.description}}
        </p>
      </mat-card-content>
      <mat-card-footer style="padding-left: 15px;">
        <div style="font-weight:bold">
          Written by : 
        </div>
        <div *ngFor="let author of book.volumeInfo.authors" style="padding-top: 10px;padding-bottom: 20px;">
          {{author}}
        </div>
        <div>
          <p><b>Billing Address</b></p>
          <p><b>Name : </b>{{book.name}}</p>
          <p><b>Email : </b>{{book.email}}</p>
          <p><b>Phone : </b>{{book.phoneNumber}}</p>
          <p><b>Address : </b>{{book.address}}</p>
        </div>
      </mat-card-footer>
    </mat-card>
</div>