@import '~@angular/material/theming';

.clickable {
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }
  margin-top: 30px;
}
.imgs {
  padding-left: 10px;
  height: 70px;
  width: 50px;
}
.header-part {
  display: flex;
  justify-content: space-between;
}
