<div class="search-box">
  <mat-form-field floatLabel="always">
    <input
      matInput
      type="text"
      placeholder="Search in Library"
      [(ngModel)]="searchText"
      (ngModelChange)="searchBooks(searchText)"
    />
  </mat-form-field>
  <mat-icon matSuffix>search</mat-icon>
</div>

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap="50px"
>
  <mat-card
    appMaterialElevation
    *ngFor="let book of books | async; trackBy: trackByBookId"
    fxFlex="0 1 calc(44.7% - 10px)"
    (click)="onCardClick(book)"
    matRipple
    class="clickable"
  >
    <mat-card-content>
      <div class="header-part">
        <span>
          <mat-card-title>{{ book?.volumeInfo.title }}</mat-card-title>
          <mat-card-subtitle
            >{{ book?.volumeInfo.subtitle }}
          </mat-card-subtitle>
        </span>
        <span>
          <img
            mat-card-image
            src="{{ book?.volumeInfo.imageLinks?.smallThumbnail }}"
            alt="Photo of a Shiba Inu"
            class="imgs"
          />
        </span>
      </div>
      <p>
        {{
          book.volumeInfo.description
            ? book.volumeInfo.description.length > 100
              ? (book.volumeInfo.description | slice: 0:100) + '...'
              : book.volumeInfo.description
            : ''
        }}
      </p>
      <b>Written By:</b><br />
      <p>
        {{ book?.volumeInfo.authors }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
