<!-- <form class="form-inline md-form form-sm active-purple-2 app-center">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search in Library" aria-label="Search"
      mdbInput>
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  </form> -->

  <!-- <mat-form-field class="example-full-width app-center">
    <mat-label>Search in Library</mat-label>
    <input matInput>
  </mat-form-field>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <img mat-card-image class="app-header-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <div style="font-weight:bold">
        Written by : 
      </div>
      <div>
        Ryan Dhal
      </div>
    </mat-card-content>
    
  </mat-card> -->


  <mat-card>
    <h1>Dashboard Page</h1>
  </mat-card>